<table class="table table-condensed keytable">
  <thead>
    <tr>
      <th colspan="3">
        <input type="button" class="btn btn-success btn-xs pull-right" value="+" ng-click="keytable.add()">
        <label class="control-label">{{keytable.heading}}</label>
      </th>
    </tr>
  </thead>

  <tbody>
    <tr ng-repeat="item in keytable.rows">
      <td><input type="text"
                 class="form-control"
                 placeholder="key"
                 value="{{item.key}}"
                 ng-disabled="item.fixed"
                 ng-model="item.key"
                 ng-change="keytable.change()"/>
      </td>
      <td><input type="text" 
                 class="form-control"
                 placeholder="value"
                 value="{{item.value}}"
                 ng-model="item.value"
                 ng-change="keytable.change()"/>
      </td>
      <td class="text-right">
        <input type="button" 
               class="btn btn-danger btn-xs"
               ng-disabled="item.fixed"
               ng-click="keytable.remove($index)"
               value="-">
      </td>
    </tr>
  </tbody>
</table>