.properties {
  padding: @padding-small-2x;

  input:not([type=button]), textarea {
    padding: @padding-small;
  }

  label {
    display: block;
    text-transform: uppercase;
    color: @color-light3;
    .font-base;
  }
}